@import "../../../styles/app.fonts.scss";
@import "../../../styles/app.colors.scss";

.stat {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    margin-bottom: 2rem;
    gap: 1em;
  }

  .stat_number {
    align-self: center;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }
    
  .stat_number-lg {
    font-family: $font-head;
    font-size: $text-xxl;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
    color: $black;
  }

  .stat_number {
    font-family: $font-head;
    font-size: $text-lg;
    font-weight: 300;
    margin-bottom: 0;
    color: $black;
  }
  
  .stat_desc {
    font-family: $font-body;
    font-size: $text-sm;
    align-self: center;
    margin-bottom: 0;
  }
  