.stat {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.stat_number {
  font-family: 'Space Mono', monospace;
  font-size: 72px;
  font-weight: 400;
}

.stat_desc {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
}