@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.feature__image {
  background: $grey_light;
  height: 200px;
  grid-column: 1 / -1;
}

.feature__number {
  @extend %brand-head;
  font-size: 96px;
  grid-column: 3;
  grid-row: 3 / 6;
  align-self: end;
  color: rgba($charcoal, .5);
  z-index: 2;
  margin-top: 75%;
}

.feature__summary {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  background-color: rgba($aqua, 1);
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .blurb_subtitle {
    color: $grey;
    font-size: $mobile_sm;
    padding-top: 16px;
    margin-bottom: 8px;
    padding-left: 4px;
  }

  .blurb_title {
    color: $black;
    font-weight: 500;
  }

  .blurb_content {
    padding-top: 0px;
  }
}

.feature__next {
  display:grid;
  align-content: center;
  justify-content: left;
  width: auto;

  p {
    margin: 0;
    font-size: 14px;
    width: auto;
    border: 1px solid $black;
    background: $white;
    padding: 4px 16px;
  }
}

.feature__navigation {
  display: hidden;
}