@media (min-width: 1200px) {
  @import "../../../styles/app.colors.scss";

  .page_registration {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 3em;
  }

  .section {
    &__stats {
    }

    &__register {
    }
  }
}
