@import './app.themes.scss';

html, body {
  height: 100%;
  width: 100%;
  transition: all .5s ease;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  padding: 10px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-content {
  padding: 50px;
  width: 100%;
  height: 100%;
  // margin: 50px;
}

.page {
  height: 100%;
  margin: 50px;
}
