@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");
@import "./app.colors.scss";

$text-xs: 0.75rem;
$text-sm: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-xxl: 3rem;
$text-xxxl: 4rem;

$font-head: "Space Mono", monospace;
$font-body: "IBM Plex Sans", sans-serif;

// %brand-head {
//   font-family: "Space Mono", monospace;
// }

// %brand-body {
//   font-family: "IBM Plex Sans", sans-serif;
//   font-size: $text-sm;
// }

%content-title {
  font-weight: 300;
  color: $black;
  font-size: $text-lg;
}

%content-subtitle {
  font-weight: 700;
  color: $tomato;
  font-size: $text-sm;
}

%content-text {
  white-space: pre-line;
  font-size: $text-md;
}

.brand-head {
  font-family: $font-head;
  font-size: 2rem;
}

.tagline {
  font-family: $font-head;
  font-size: $text-md;
  font-weight: 700;
  color: $tomato;
}

body {
  font-family: $font-body;
  color: $charcoal;

  h1 {
    font-size: $text-xxl;
    text-transform: capitalize;
  }

  h2 {
    font-size: $text-xl;
    text-transform: capitalize;
  }

  h3 {
    font-size: $text-lg;
    text-transform: capitalize;
  }

  h4 {
    font-size: $text-md;
    text-transform: capitalize;
  }

  h5 {
    font-size: $text-xs;
    text-transform: capitalize;
    font-weight: 700;
  }

  p {
    color: $grey;
  }

  a {
    color: $grey;
  }
}
