@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
@import './app.colors.scss';

$desktop_xs: 0.75em;
$desktop_sm: 1em;
$desktop_md: 1.25em;
$desktop_lg: 2em;
$desktop_xl: 3em;

$mobile_xs: 12px;
$mobile_sm: 14px;
$mobile_md: 18px;
$mobile_lg: 24px;
$mobile_xl: 36px;


%brand-head {
  font-family: 'Space Mono', monospace;
}

%brand-body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

%content__title {
  font-weight: 300;
  color: $black;
  font-size: 2em;
}

%content__text {
  white-space: pre-line;
  font-size: $desktop_md;
}

.brand-head {
  @extend %brand-head;
  font-size: 2em;
}

body {
  @extend %brand-body;
  color: $charcoal;
  
  h1 {
    font-size: 3em;
    text-transform: capitalize; 
  }

  h2 {
    font-size: 2.5em;
    text-transform: capitalize;
  }

  h3 {
    font-size: 1.5em;
    text-transform: capitalize; 
  }

  h4 {
    font-size: 1.25em;
    text-transform: capitalize; 
  }

  h5 {
    font-size: 0.75em;
    text-transform: capitalize; 
    font-weight: 700;
  }

  div {
    font-size: 1em;
    color: $grey;
  }

  a {
    font-size: 1em;
    color: $grey;
  }
}
