@import "../../../styles/app.fonts.scss";

.blurb {

  display: grid;
  gap: 1rem;

  &__title {
    font-family: $font-body;
    font-weight: 400;
  }

  &__content {
    font-family: $font-body;
  }
}
