@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

@media (max-width: 767px) {

  .about {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
  }

  .about__mission {
    // border: 1px solid seagreen;
  }  
  .about__contact {
    // border: 1px solid seagreen;
  }
  .about__content {
    // border: 1px solid seagreen;
    grid-column: span 2;
    margin-top: 32px;
  }
  .about__news {
    // border: 1px solid seagreen;   
    grid-column: span 2; 
  }
  .about__timeline {
    // border: 1px solid seagreen;
    grid-column: span 2;
  }
}