.about {
  
}

.about__mission {
  border: 1px solid chocolate;
}
.about__content {
  border: 1px solid chocolate;
}
.about__news {
  border: 1px solid chocolate;
}
.about__timeline {
  border: 1px solid chocolate;
}