@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

@media (max-width: 1439px) {

  .about {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
  }

  .about__mission {

    .mission__text {
      color: $grey-light;
      text-transform: none;
      font-weight: 400;
      padding-right: 32px;
      font-size: 18px;
    }
  } 

  .about__contact {

    .contact__text {
      color: $grey-light;
      text-transform: none;
      font-weight: 400;
      padding-right: 32px;
      font-size: 18px;
    }
  }
  .about__content {
    grid-column: span 2;
    margin-top: 32px;

    .content__title {
      font-weight: 300;
      color: $black;
      font-size: 36px;
    }

    .content__text {
      white-space: pre-line;
      font-size: 14px;
    }

  }
  .about__news {
    // border: 1px solid seagreen;   
    grid-column: span 2; 
  }
  .about__timeline {
    // border: 1px solid seagreen;
    grid-column: span 2;
  }
}