@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

%input-typical {
  border-bottom: 1px solid $charcoal;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;

  input {
    border: none;
    padding-left: 16px;

    &::placeholder{
      @extend %brand-body;
      color: $grey_light;
    }
  }
}

.registrar {
  display: grid;
  grid-template-rows: auto auto auto auto;

  .registrar__title {
    @extend %brand-body;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 48px;
    color: $black;
  }

  .registrar__info {
    display:grid;
    grid-template-columns: 1fr 1fr;

    .info__firstname {
      @extend %input-typical;
    }
    
    .info__lastname {
      @extend %input-typical;
    }

    .info__email {
      @extend %input-typical;
      grid-column: span 2;
    }
  }

  .info__button {
    align-self: center;
    margin-top: 25px;
  }
  
  .button_register {
    border: 1px solid $tomato;
    background: $tomato;
    color: $white;
    padding-left: 50px;
    padding-right: 50px;
  }
}
