@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.page_home {
  background-image: url('../home/home.image.jpg');
  background-size: 400%;
  background-position: center center;
}

.home_cta {
  grid-row: 2;
  grid-column: -1 / 1;
  align-self: center;
  justify-self: center;
  text-align: center;

  .cta_title {
    @extend %brand-body;
    font-weight: 700;
    font-size: 96px;
    color: $black;
  }

  .cta_button {
    @extend %brand-head;
    background-color: $canary;
    color: $tomato;
    font-size: 18px;
    font-weight: 700;
    width: auto;
    height: 50px;
    display: grid;
  }
}

.home_buttons {
  grid-row: 3;
}