@import "../../../styles/app.fonts.scss";
@import "../../../styles/app.colors.scss";

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.header {
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 75vh;

  &__container {
    align-self: center;
    display: grid;
    gap: 0.75rem;
  }

  &__title {
    font-size: $text-xxxl;
    font-weight: 700;
    color: $black;
  }

  &__content {
    color: $charcoal;
  }
}

.cards {
  &__title {
    display: grid;
    gap: 0.75rem;
  }

  &__title-text {
    font-weight: 700;
  }
}

.registration {
  padding-bottom: 6rem;
}
