@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

.home {
  display: grid;
  grid-template-columns: 2fr 3fr ;
  grid-gap: 50px;
}

.home_cta {
  align-self: center;

  .cta_title {
    @extend %brand-body;
    font-weight: 400;
    font-size: 48px;
    color: $black;
  }

  .cta_content {
    @extend %brand-body;
  }
}

.home_video {
  background-image: url('./home.video.gif');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}