
.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.page_home {
  background-image: url('../home/home.image.jpg');
  background-size: 300%;
  background-position: center center;
}

.home_cta {
  grid-row: 2;
  grid-column: -1 / 1;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.home_buttons {
  grid-row: 3;
}