@media (min-width: 992px) {
  @import "../../../styles/app.fonts.scss";
  @import "../../../styles/app.colors.scss";

  .home {
    display: grid;
    padding: 8em 0;
    max-width: 54rem;
    margin: 0 auto;
  }

  .header {
    gap: 2rem;
    grid-template-columns: 3.875fr 0.125fr 2fr;

    &__container {
      align-self: center;
      display: grid;
    }

    &__divider {
      display: block;
      align-self: center;
      justify-self: center;
      width: 1px;
      height: 12rem;
      background-color: $grey-light-extra;
    }

    &__title {
      font-family: $font-body;
      font-weight: 400;
      color: $black;
      font-size: $text-xxxl;
    }

    &__content {
      font-family: $font-body;
      margin-top: 1.25rem;
      white-space: pre-line;
    }
  }

  .cards {
    &__container {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 3rem;
    }

    &__title-text {
      font-family: $font-body;
      font-weight: 400;
      color: $black;
      font-size: $text-xxl;
    }
  }

  .registration {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 2rem;
  }

  .section {
    &__divider {
      display: block;
      align-self: center;
      justify-self: center;
      width: 1px;
      height: 12rem;
      background-color: $grey-light-extra;
    }
  }
}
