@import '../../../styles/app.fonts.scss';
@import '../../../styles/app.colors.scss';

@media (min-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 2fr 3fr ;
    grid-gap: 50px;
    padding: 150px 0;
  }

  .home__cta {
    display: grid;
    grid-template-rows: auto 1fr 100px;
    // padding-right: 200px;
    width: 450px;

    .cta__content {
      margin-top: 20px;
    }
  }

  .home__video {
    border: 1px dashed goldenrod;
  }

  .cta__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .buttons_try {
    justify-self: left;
    width: 50px;
  }

  .buttons_huh {
    justify-self: right;
    width: 50px;
  }

  // .home_cta {
  //   align-self: center;

  //   .cta_title {
  //     @extend %brand-body;
  //     font-weight: 400;
  //     font-size: 48px;
  //     color: $black;
  //   }

  //   .cta_content {
  //     @extend %brand-body;
  //   }
  // }

  // .home__video {
  //   background-image: url('./home.video.gif');
  //   background-size: 100%;
  //   background-position: center center;
  //   background-repeat: no-repeat;
  // }
}


