@media (min-width: 1440px) {

  @import '../../../styles/app.colors.scss';
  @import '../../../styles/app.fonts.scss';

  .contact {
    margin-bottom: 50px;
  }

  .contact__type {
    color: $grey_light;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contact__info {
    color: $charcoal;
    font-weight: 300;
    font-size: 14px;
  }
}