@import '../../../styles/app.colors.scss';
@import "../../../styles/app.fonts.scss";

.button {
  border: 1px solid $charcoal;
  color: $charcoal;
  background-color: $white;
  width: 75%;
  height: auto;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
}

.button_round {
  border-radius: 50px;
}

.button_primary {
  border: 1px solid $tomato;
  color: $white;
  background-color: $tomato;
}

.button_secondary {
  border: 1px solid $tomato;
  color: $tomato;
  background-color: $white;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 15px;
    font-size: 18px;
  }
}