@import '../../../styles/app.colors.scss';

.button_round {
  border: 1px solid $charcoal;
  border-radius: 50px;
  color: $charcoal;
  background-color: $white;
  justify-self: right;
  align-self: center;
  width: 75%;
  height: auto;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.button_try {
  border: 1px solid $tomato;
  border-radius: 50px;
  color: $white;
  background-color: $tomato;
  justify-self: left;
  align-self: center;
  width: 75%;
  height: auto;
  text-align: center;
}

.button_hiw {
  border: 1px solid $tomato;
  border-radius: 50px;
  color: $tomato;
  background-color: $white;
  justify-self: right;
  align-self: center;
  width: 75%;
  height: auto;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 15px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .button {
    padding: 10px 15px;
    font-size: 14px;
  }
}