@import '../../../styles/app.colors.scss';

.button_try {
  border: 1px solid $tomato;
  border-radius: 50px;
  color: $white;
  background-color: $tomato;
  font-size: 18px;
  justify-self: left;
  align-self: center;
  width: 75%;
  height: auto;
  padding: 10px 15px;
  text-align: center;
}

.button_hiw {
  border: 1px solid $tomato;
  border-radius: 50px;
  color: $tomato;
  background-color: $white;
  font-size: 18px;
  justify-self: right;
  align-self: center;
  width: 75%;
  height: auto;
  padding: 10px 15px;
  text-align: center;
}