@media (max-width: 768px) {
  @import '../../../styles/app.colors.scss';

  .navbar {
    .navbar-nav {
      padding-bottom: 16px;
      border-bottom: 1px solid $grey_light_extra;
    }
  }

  // .navbar-brand {
  //   padding-bottom: 0px;
  // }

  .nav-link { 
    margin-left: 16px;
    font-size: 14px;
  }

  // .brand-head {
  //   margin-bottom: 0px;
  // }
}