@import '../../../styles/app.colors.scss';

.navbar-toggler {
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }
}

// .nav-pills .nav-link.active {
//   border-bottom: 2px solid $tomato;
//   background-color: transparent;
//   color: $tomato;
// }

// .nav-pills .nav-link {
//   border-radius: 0;
// }