@media (min-width: 768px) {
  @import '../../../styles/app.colors.scss';

  .navbar {
    width: 60rem;
    margin: 0 auto;
    border-bottom: 1px solid $grey_light_extra;
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.125em;
  }

  .navbar-nav {
    padding-left: 3rem;
    padding-top: 1rem;
  }

  .navbar-nav-left {
    text-align: left;
    padding-left: 0;
    padding-top: 1rem;
  }

  .navbar-brand {
    padding-bottom: 0;
  }

  .nav-link { 
    margin-right: 3rem;
  }

  .nav-link-left {
    font-weight: 700;
    text-align: left;
    margin-right: 0;
  }

  .brand-head {
    margin-bottom: 0;
  }
}